form{
    display: flex;
    flex-direction: column;
    
}

button{
    margin-right: 15px;
    margin-top: 20px;
}

.msg-erro{
    color: red;
    font-size: 10px;
    clear: both;
    position: relative;
}